.modalButton {
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    border: 2px solid rgb(230,230,230);
    font-size: 0.9rem;
    transition-duration: 0.25s, 0.25s;
    transition-timing-function: ease-out, ease-out;
    transition-delay: 0s, 0s;
    cursor: pointer;
    width: 100px;
    margin: auto;
    background-color: burlywood;
}